{% extends "base.html.twig" %}
{% block title %}TEMA LA LISTE{% endblock %}
{% block body %}
{% if is_granted("CAN_CREATE_CUSTOMER") %}
    <a href="{{ path('customers_create') }}" class="btn btn-primary btn-sm">Créer un candidat</a>
{% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Email</th>
                {% if is_granted("CAN_LIST_ALL_CUSTOMERS") %}
                    <th>Propriétaire</th>
                {% endif %}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for c in customers %}
            <tr>
                <td>{{ c.fullName }}</td>
                <td>{{ c.email }}</td>
                {% if is_granted("CAN_LIST_ALL_CUSTOMERS") %}
                    <td>{{ c.user.fullName }}</td>
                {% endif %}
                <td>
                    {% if is_granted('CAN_EDIT', c) %}
                        <a href="{{ path('customers_edit', {'id': c.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                    {% endif %}
                    {% if is_granted('CAN_REMOVE', c) %}
                    <a href="{{ path('customers_delete', {'id': c.id}) }}" class="btn btn-danger btn-sm ml-1">Supprimer</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
